{% extends "layout.html" %}

{% block content %}
  

    <div class="upload-form">
      <form action = "/uploader" method = "POST" 
        enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
      </form>
    </div>
  

{% endblock %}
